@import 'variables';
@import 'brand';
@import 'typography';

html {
    font-size: 62.5%;
    margin: 0;
}

@media only screen {
    html {
        font-size: 8px;
    }
}

@media only screen and (min-width: $screen-md-min) {
    html {
        font-size: 9px;
    }
}

@media only screen and (min-width: $screen-lg-min) {
    html {
        font-size: 62.5%;
    }
}

html {
    background-color: #fff;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    @include font-smoothing();
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    flex: 1 1 auto;
    position: relative;
    background-image: url("../img/foggy-forest.jpg");
    background-position: 50% 20%;
    background-size: cover;
    background-attachment: fixed;

    &:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(175, 230, 216, .15) 0%, rgba(86, 154, 137, .5) 100%);
    }

    @media only screen and (min-width: $screen-sm-min) {
        background-image: url("../img/foggy-forest@2x.jpg");
    }
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

// Bootstrap customizations ================== //
.container-fluid {
    padding-left: 2rem;
    padding-right: 2rem;

    @media only screen and (min-width: $screen-sm-min) {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.row {
    // margin-left: -2rem;
    // margin-right: -2rem;
}

.col {
    // padding-left: 2rem;
    // padding-right: 2rem;
    display: flex;
}

hr,
.hr--light {
    border-color: $med-gray;
}

.hr--dark {
    border-color: $med-dark-gray;
}

.table-responsive {
    margin: 2rem 0;

    .table {
        td {
            margin: 1rem;
        }
    }

    .yep {
        background-color: $secondary-color;
    }
}