@import 'base';
@import 'brand';
@import 'buttons';
@import 'typography';
@import 'mixins';
@import 'slick-slider';

@mixin transition($prop) {
	transition: $prop .2s ease-out;
}
.browser-warning {
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $light-gray;
	color: $dark-gray;
	padding: 3rem;
	font-size: 3rem;
	display: none;
	z-index: 2000;
	&:hover {
		cursor: pointer;
	}
	.btn--js-close-alert {
		position: absolute;
		top: 1rem;
		right: 1rem;
		width: 20px;
		height: 20px;
	}
}
body {
	background-color: $dark-gray;
	&.js-no-scroll {
		overflow: hidden;
	}
	// @include accelerated();
}
section {
	padding-top: 5.5rem;
	padding-bottom: 5.5rem;
	// Desktop ============================================= //
	@media only screen and (min-width: $screen-sm-min) {
		padding-top: 7.5rem;
		padding-bottom: 8.5rem;
	}
}
header {
	background-color: #fff;
	width: 100%;
	height: 5.5rem;
	padding: 1.5rem 2rem;
	border-bottom: 2px solid $dark-gray;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	// Desktop ============================================= //
	@media only screen and (min-width: $screen-sm-min) {
		height: 7.5rem;
		padding: 2rem 4rem;
	}
	#logo {
		height: 100%;
		fill: $primary-color;
		display: inline-block;
		img {
			height: 100%;
		}
	}
	#tagline {
		height: 100%;
		float: right;
		img {
			height: 100%;
		}

	}
}
.icon-social {
	@media only screen and (min-width: $screen-sm-min) {
		width: 25px;
		height: 25px;
		vertical-align: text-bottom;
		path {
			fill-rule: evenodd;
			clip-rule: evenodd;
			fill: $black;
		}
		&:hover path {
			fill: $primary-color;
		}
	}
}
.icon-close {
	line {
		fill: none;
		stroke: $light-gray;
		stroke-width: 2;
		stroke-miterlimit: 10;
	}
}
.main-navigation {
	font: {
		size: 1.8rem;
		family: 'Oswald', sans-serif;
		weight: bold;
	}
	background-color: #fff;
	width: 100%;
	height: 5.5rem;
	line-height: 5rem;
	text-transform: uppercase;
	padding: 0;
	position: fixed;
	bottom: 0;
	z-index: 5;

	ul {
		height: 100%;
		border: 4px solid $dark-gray;
		border-width: 4px 0 0 0;
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		justify-content: space-around;
		li {
			display: inline-block;
			position: relative;
			padding: 0;
			&.active {
				&:before {
					content: "";
					position: absolute;
					top: -4px;
					left: 0;
					width: 100%;
					height: 4px;
					background-color: #FF5722;
				}
			}
			&.main-navigation__social-link {
				display: none;
			}
			a {
				padding: 0 2rem;
				display: block;
				color: $black;
				&:hover {
					color: $primary-color;
					text-decoration: none;
				}
			}
		}
	}

	// Desktop ================================================ //
	@media only screen and (min-width: $screen-sm-min) {
		height: 8.5rem;
		line-height: 8.5rem;
		ul {
			padding-right: 2rem;
			display: block;
			li {
				&:first-child {
					margin-left: 2rem;
				}
				&.main-navigation__social-link {
					display: block;
					float: right;
				}
			}
		}
		ul li a {
			padding: 0 2rem;
		}
	}
}
.vertical-navigation {
	display: none;
	// Desktop ================================================ //
	@media only screen and (min-width: $screen-sm-min) {
		display: block;
		position: fixed;
		bottom: 10rem;
		right: 5rem;
		z-index: 10;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				background-color: #fff;
				width: 1rem;
				height: 1rem;
				margin-bottom: 1rem;
				border: 2px solid $med-gray;
				&.active {
					background-color: $primary-color;
					border: 2px solid darken($primary-color, 10%);
				}
			}
		}
	}
}
.content-link {
    @extend .font-oswald;
    @include accelerated(transform);
	@include transition(transform);
	color: $light-gray;
	font-weight: bold;
	display: flex;
	align-items: center;
	text-shadow: $text-shadow;
    text-transform: uppercase;
    border: none;
	span {
		// transform: translateZ(0);
		// -webkit-transform: translateZ(0);
		// transition: transform .2s, filter .2s;
		// -webkit-transition: -webkit-transform .2s, -webkit-filter .2s;
		// filter: drop-shadow(0 10px 8px rgba(0,0,0,.5));
		// -webkit-filter: drop-shadow(0 10px 8px rgba(0,0,0,.5));
	    svg {
	    	fill: $light-gray;
	        width: 5.8rem;
	        height: 5.8rem;
	        margin: 0 1.5rem;
	        display: inline-block;
	        position: relative;
	    }
	}
	&:hover {
		cursor: pointer;
		// span {
		// 	transform: translateY(5%), ;
		// 	filter: drop-shadow(0 5px 3px rgba(0,0,0,.75));
		// 	-webkit-filter: drop-shadow(0 5px 3px rgba(0,0,0,.75));
		// }
	}

}

.hero-wrapper {
	background-size: cover;
	background-repeat: no-repeat;
	padding: 2rem;
	position: relative;
	height: auto;
	.text {
		position: absolute;
		color: $light-gray;
		padding-left: 0;
		padding-right: 0;
		h1 {
			@extend .font-oswald;
			span {
				color: $primary-color;
				text-shadow: $text-shadow;
			}
		}
	}
	@media only screen and (min-width: $screen-sm-min) {
		&:before {
			padding-top: 0;
		}
		.text {
			display: inline-block;
		}
	}
}

#about-1 {
	// Mobile =================================== //
	background-image: url("../img/computer-desk-sm.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 80%;
	position: relative;
	height: auto;
    &:before {
	    content: '';
	    display: block;
	    padding-top: 56.25%; // 16:9 ratio
    }
	.text {
		top: 40%;
		left: 14%;
		text-align: right;
		display: inline-block;
		h1 {
			font-size: 5vw;
			line-height: 1;
			&:first-of-type {
				font-size: 6vw;
			}
		}
	}
	.content-link {
		display: none;
	}
    // Mobile Landscape =================================== //
	@media only screen and (orientation: landscape) and (max-width: $screen-xs-max) {
		height: calc(100vh - 11rem);
		.text {
			transform: translateY(-55%);
		}
		.content-link {
			color: $light-gray;
			display: flex;
			position: absolute;
			bottom: 25%;
			left: 50%;
			transform: translateX(-50%);
		}
		&:before {
			content: none;
			padding-top: 0;
		}
	}

	// Desktop ================================================ //
	@media only screen and (min-width: $screen-sm-min) {
		background-image: url("../img/computer-desk-lg.jpg");
		background-position: 50% 80%;
		height: calc(100vh - 16rem);
		.text {
			top: 33%;
			left: 28%;
			transform: translateY(-40%);
			h1, h1:first-of-type {
				font-size: 3.8vw;
				span {
					color: lighten($primary-color, 0%);
				}
			}
		}
		.content-link {
			position: absolute;
			bottom: 25%;
			left: 50%;
			transform: translateX(-50%);
			color: $light-gray;
			display: flex;
			span {
				transform: translateZ(0);
				-webkit-transform: translateZ(0);
				transition: transform .2s, filter .2s;
				-webkit-transition: -webkit-transform .2s, -webkit-filter .2s;
				filter: drop-shadow(0 10px 8px rgba(0,0,0,.5));
				-webkit-filter: drop-shadow(0 10px 8px rgba(0,0,0,.5));

			}
			&:hover {
				span {
					transform: translateY(5%), ;
					filter: drop-shadow(0 5px 3px rgba(0,0,0,.75));
					-webkit-filter: drop-shadow(0 5px 3px rgba(0,0,0,.75));
				}

			}
		}

	}
}
#about-2 {
	background-color: $dark-gray;
	color: #fff;
	border-top: 1px solid $med-dark-gray;
	.text {
		position: relative;
		font-size: 2rem;
		dt {
			color: $primary-color;
			text-shadow: $text-shadow;
		}
		h1, h2 {
			font-size: 8vw;
		}
		.btn {
			margin-bottom: 2rem;
		}
		.btn-resume {
			svg {
				fill: #fff;
				height: .8em;
				max-width: 1em;
				margin-right: .5rem;
			}

		}
	}
	// Tablet ============================ //
	@media only screen and (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
		.text {
			font-size: 3rem;
			margin: 0 3rem;
			.border-left {
				padding-left: 2rem;
			}
		}
	}
	// Desktop ============================ //
	@media only screen and (min-width: $screen-sm-min) {
		background-image: url("../img/stars-trees-lg.jpg");
		background-position: 50% 60%;
		min-height: calc(100vh - 16rem);
		height: auto;
		border-top: 0;
		font-size: 2vw;
		.text {
			top: 3rem;
			left: 0;
			padding: 0 2rem;
			color: $light-gray;
			h1 {
				font-size: 3.8vw;
			}
			h2 {
				font-size: 2.5vw;
			}
			.btn {
				font-size: inherit;
				margin-right: 2rem;
			}
		}
	}
	@media only screen and (min-width: $screen-md-min) {
		.text {
			.border-left {
				border-left: 1px solid rgba(224,224,224,.3);
			}
		}
	}
	@media only screen and (min-width: $screen-lg-min) {
		.text {
			.border-left {
				padding-left: 6rem;
			}
		}
	}

}

#contact-bg {
	background-image: url("../img/phone-table-sm.jpg");
	background-position: 65% 100%;
	height: calc(100vh - 11rem);
	.text {
		color: $light-gray;
		position: relative;
		padding-top: 3rem;
		h1 {
			font-size: 6vw;
		}
		.btn {
			margin-bottom: 1rem;
			svg {
				fill: #fff;
				height: .8em;
				max-width: 1em;
				margin-right: .5rem;
			}
		}
	}
	// Desktop ============================ //
	@media only screen and (min-width: $screen-sm-min) {
		background-image: url("../img/phone-table-lg.jpg");
		background-position: 100% 100%;
		height: calc(100vh - 16rem);
		.text {
			padding: 5rem;
			font-size: 2vw;
			h1 {
				font-size: 3.8vw;
				
			}
			.btn {
				margin-right: 1rem;
			}
		}
	}
}

.projects {
	margin: 5.5rem 0;
	padding-top: 2rem;
	padding-bottom: 0;
	background-color: $med-gray;
	position: relative;
	// Desktop ========================= //
	@media only screen and (min-width: $screen-sm-min) {
		min-height: calc(100vh - 16rem);
		padding-top: 4rem;
		padding-bottom: 0;
		&:first-of-type {
			margin-top: 7.5rem;
			margin-bottom: 0;
		}
		&:last-of-type {
			margin-bottom: 8.5rem;
		}
		.row {
			position: relative;
		}
		.project-card {
			margin-bottom: 0;
		}
	}
	.project-card {
		box-shadow: 0 20px 2rem -20px rgba(0,0,0,.35);
		margin-bottom: 4rem;
		&:hover {
			cursor: pointer;
		}
		.project-thumbnail {
			width: 100%;
		}
		footer {
			background-color: $dark-gray;
			color: #fff;
			overflow: auto;
			display: flex;
			justify-content: space-between;
			.project-card__copy {
				flex-grow: 2;
				padding: 1rem;
				-webkit-transition: flex-grow .2s;
				transition: flex-grow .2s;
				will-change: flex-grow;
				h2 {
					border-bottom: 1px solid $med-dark-gray;
					padding-bottom: .5rem;
					margin-bottom: .5rem;
					color: #fff;
				}
				h3 {
					margin-bottom: 0;
					text-transform: uppercase;
					font-size: 1.4rem;
				}
			}
			.project-card__btn {
				flex-grow: 1;
				display: flex;
				flex-direction: column;
				justify-content: center;
				width: auto;
			}
		}
		&:hover {
			footer .project-card__copy {
				flex-grow: 1;
			}
		}
	}
	#project-loader {
		position: fixed;
		top: 5.5rem;
		left: 0;
		width: 100%;
		height: calc(100vh - 11rem);
		color: #fff;
		pointer-events: none;
		overflow: hidden;
		#project-content {
			@include accelerated(opacity);
			position: relative;
			z-index: 5;
			height: 100%;
			padding: 0;
			opacity: 0;
			transition: .5s opacity;
			overflow: scroll;
			&.fade-in {
				opacity: 1;
			}
			h1 {
				display: inline-block;
				margin: 0;
			}
			// hr {
			// 	margin-top: 0;
			// }
			.container-fluid {
				padding: 0;
				// padding-top: 2rem;
				// padding-bottom: 2rem;
				.row {
					padding: 2rem 0;
					margin-left: 0;
					margin-right: 0;
					&:nth-child(even) {
						background-color: $med-dark-gray;
					}
					img {
						margin-bottom: 2rem;
					}
					.content-link {
						display: none;
						// background-color: $primary-color;
						// margin: 0 -2rem -2rem;
						// padding: 2rem;
						// font-size: 7vw;
						// justify-content: center;
						// span {
						// 	display: none;
						// }
					}
					.mobile-banner {
						@extend .font-oswald;
						background-color: $primary-color;
						padding: 2rem;
						margin-bottom: -2rem;
						font-size: 7vw;
						text-transform: uppercase;
						text-align: center;
						// &:after {
						// 	content: "";
						// 	position: absolute;
						// 	left: 0;
						// 	top: 100%;
						// 	width: 0;
						// 	height: 0;
						// 	border-style: solid;
						// 	border-width: 50px 50% 0 50%;
						// 	border-color: #007bff transparent transparent transparent;
						// }
					}
				}
			}
		}
		// Sliding panels ========== //
		&:before, &:after {
			@include accelerated(transform);
			content: "";
			position: absolute;
			left: 0;
			width: 100%;
			background-color: $dark-gray;
			transition: transform .5s ease-in-out;
		}
		&:before {
			top: 0;
			height: calc(50vh - 5.5rem);
			transform: translateY(-100%);
		}
		&:after {
			bottom: 0;
			height: calc(50vh - 5.5rem);
			transform: translateY(100%);
		}
		.btn--js-close-project {
			@include accelerated(transform);
			float: right;
			width: auto;
			width: 20px;
			padding-top: 8px;
			transition: transform .3s;
			&:hover {
				transform: scale(1.15);
				cursor: pointer;
				line {
					stroke: $primary-color;
				}			
			}
		}
		// Desktop ========================= //
		@media only screen and (min-width: $screen-md-min) {
			top: 7.5rem;
			height: calc(100vh - 16rem);
			#project-content {
				padding: 0;
				.container-fluid {
					padding: 0;
					.row {
						min-height: calc(100vh - 16rem);
						padding: 4rem 2rem;
						margin-left: 0;
						margin-right: 0;
						// &:nth-child(even) {
						// 	background-color: $med-dark-gray;
						// }
						.content-link {
							background-color: transparent;
							font-size: inherit;
							display: flex;
							justify-content: center;
							span {
								display: block;
							}
							&:hover {
								color: #fff;
								svg {
									fill: #fff;	
								}
								
							}
						}
						.mobile-banner {
							display: none;
						}
					}
				}
			}
		}
	}
	&.projects--loading-project {
		#project-loader {
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
			pointer-events: auto;
			&:before {
				transform: translateY(0%);
			}
			&:after {
				transform: translateY(0%);
			}
		}
	}
}
.table-responsive {
	margin: 2rem 0;
	.yep {
		background-color: $secondary-color;
	}
}