// Custom styles for slick slider
.slick-dotted.slick-slider {
	margin-bottom: 4rem;
	@media only screen and (min-width: $screen-md-min) {
		margin: 0 0 6rem 0;
	}
}
.slick-track {
	will-change: transform;
}
.slick-slide {
	position: relative;
    .slick-slide__project-description {
    	display: block;
    	text-align: center;
    	position: relative;
    	bottom: 0;
    }
}
.prev, .next {
	position: absolute;
	bottom: -35px;
	width: 25px;
	z-index: 1000;
	border: 0;
	background-color: transparent;
	.icon-arrow {
		fill: none;
		stroke: $light-gray;
		stroke-width: 2;
		stroke-miterlimit: 10;
		transition: transform .3s;
	}
	&:hover {
		.icon-arrow {
			transform: scale(1.15);
			stroke: $primary-color;
		}
	}
	&:focus {
		outline: none;
	}
}
.next {
	right: 0;
	padding: 1rem 0 1rem 1rem;
	.icon-arrow {
		transform-origin: right center;
	}
}
.prev {
	left: 0;
	padding: 1rem 1rem 1rem 0;
	.icon-arrow {
		transform-origin: left center;
		
	}
}

.slick-dots {
	li {
		button {
			padding: 5px 0;
		}
		button:before {
			background-color: #fff;
			opacity: 1;
			content: "";
			width: 20px;
			height: 2px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&.slick-active {
			button:before {
				background-color: $primary-color;
				opacity: 1;
			}
		}

	}
	// Desktop ================ //
	@media only screen and (min-width: $screen-md-min) {
		bottom: -25px;
		li {
			button:before {
				width: 20px;
				height: 2px;
			}
		}
	}
}